- throw_content :title do
  Dashboard

%p
  = link 'Visit site', :to => resource(:posts)

#dashboard
  .left
    - @dashboard[:left].each do |p|
      = partial p
  .right
    - @dashboard[:right].each do |p|
      = partial p
