- throw_content :title do
  = link "#{blog_options[:blog_title]}'s", :to => resource(:posts), :title => "Visit Site"
  Dashboard

#dashboard
  .left
    - @dashboard[:left].each do |p|
      = partial p
  .right
    - @dashboard[:right].each do |p|
      = partial p
