.comment{:id => "comment_#{comment.id}"}
  .author=h comment.author
  .content= comment.rendered_content
  - if authorized?
    .admin
      = link 'Edit', :to => resource(@post, comment, :edit), :class => 'action edit'
      = link 'Delete', :to => resource(@post, comment), :method => "delete", :confirm => "Are you sure?", :class => 'action delete'
    