!light_blue =                 #e4f2fd
!lighter_blue =               #2583ad
!blue =                       #264761
!soft_blue =                  #328ab2
!really_light_blue =          #cee1ef
!really_light_blue2 =         #eaf3fa
!grey =                       #555
!dark_grey =                  #333
!light_grey =                 #ccc
!lighter_grey =               #d7d7d7
!really_light_grey =          #f9f9f9
!orange =                     #d54e21
!gold =                       #dd8718

!green =                      #25ad6f
!really_light_green =         #e4fdf2

!red =                        #ad254b
!really_light_red =           #fde4eb

!margin =                     15px

!form_width =                 600px

body
  :font-family                Helvetica, Arial, "Lucida Sans Unicode", sans-serif
  :font-size                  11px
  :text-align                 center
  
#container
  :position                   relative
  :text-align                 left
  :width                      800px
  :margin-left                auto
  :margin-right               auto

strong
  :font-weight                bold

p
  :margin =                   !margin

a
  :color =                    !lighter_blue
  :text-decoration =          none
  &:hover
    :color =                  !gold

// Title

h1, h2
  :color =                    black
  :font-weight                bold

h1#title
  :text-align                 center
  :font-size                  3.6em
  :letter-spacing             -0.03em
  :padding-bottom =           !margin
  :padding-top =              !margin  

h1
  :font-size                  2em
  :line-height                1.2em
  :margin-bottom              2px

  a
    :color                    black
    &:hover
      :color =                  !gold

h2
  :font-size                  1.5em
  :font-weight                bold
  :margin-bottom =            !margin

#application_title
  :background =               !light_blue
  :padding-top =              !margin
  :padding-bottom =           !margin
  
  h1
    :font-size =              36px
    :margin-top =             0
    :border                   none

// Messages
#message
  :margin =                   0
  :width =                    !form_width + !margin
  div
    :font-size =              1.2em
    :font-weight              bold
    :margin-bottom =          !margin
  #notice
    :color =                  !green
  #error
    :color =                  !red

// Menu

#menu
  :background =               !light_blue

  ul
    :padding-top =            !margin / 2
    :padding-bottom =         !margin / 2
    :padding-left =           !margin
    :list-style-type          none
    :list-style-image         none
    :border-bottom            1px solid #C6D9E9
    li
      :display                inline
      :margin-right =         !margin * 2
      a
        :font-size            16px
          

// Tables

table
  :border =                   1px solid !light_grey
  :margin =                   !margin
  th, td
    :font-size =              11px  
    :border-bottom =          1px solid !light_grey
  th
    :background =             !dark_grey
    :color =                  !lighter_grey
    :padding =                0.4em
    :padding-left =           1.2em
  td
    :padding =                1em
    :padding-left =           1.2em
    :padding-right =          1.2em
  tr.odd
    :background =             !really_light_grey

// Fixes for ui date picker
table.ui-datepicker
  :margin                     0
  tr
    th,td
      :padding                0
      :border-bottom          none 


// Buttons
=button
  :line-height	              17px
  :background-color           black
  :border =                   1px solid !grey
  :color                      white
  :-moz-border-radius         2px
  :-webkit-border-radius      2px
  :font-size                  12px
  :padding                    3px 5px 3px 5px
  
.new, .edit, .delete, .view_children
  +button

// Forms  
form
  .row
    :width =                  !form_width
    :font-size                1.2em
    label
      :display                block
      :background =           !really_light_blue2
      :width                  100%
      :padding                7px
      :font-size              14px
      :font-weight            bold
      :color                  black
      :margin-bottom =        !margin
      :margin-top =           !margin
    input[type=text], textarea
      :font-size              1.25em
      :width                  100%
      :border =               1px solid !light_grey
      :padding =              6px
    textarea
      :height =               150px
    select
      :font-size =            1.25em
    .option
      :margin-bottom          3px
  .explanation
    :margin-top =             !margin / 2
    :margin-bottom =          !margin / 2
    :color =                  !grey
  .submit
    :margin-top =             !margin * 2
    :font-size =              1.5em
  .errors
    :margin-top =             !margin / 2
    :margin-bottom =          !margin / 2
    :color =                  !red
    :font-weight =            bold
  .has_errors
    input[type=text], textarea
      :border =               1px solid !red

form
  div
    input#post_published_at_date
      :width                  200px
      :margin-right =         !margin * 2

// Headers

#header
  :width                      800px
  :height                     147px
  :background                 url('/slices/blog-slice/images/header.jpg') center center
  :margin-bottom =            !margin
  :border-top                 3px solid black
  :cursor                     pointer

.extra_info
  :font-family                Georgia, "Times New Roman", Times, serif
  :color =                    !grey
  :padding-bottom =           !margin / 2
  :margin-bottom =            !margin
  :background                 url('/slices/blog-slice/images/black_horizontal_line.gif') left bottom no-repeat
  a
    :color =                  !grey
  div
    :display                  inline
    
// Content

.post
  :margin-bottom =            !margin * 3
  :clear                      left

#content
  p
    :margin-left              0
   
#content .post .content
  :font-family                Georgia, "Times New Roman", Times, serif
  :font-size                  1.2em
  p
    :margin-left               0

// Tags and categories

.tags, .categories
  :margin-top =               !margin
  :padding-top =              !margin / 2
  :background                 url('/slices/blog-slice/images/grey_horizontal_line.gif') left top no-repeat
  h5
    :font-family               Georgia, "Times New Roman", Times, serif
    :font-weight               bold
    :font-size                 1.1em
    :color =                   !grey
    :float                     left
    :display                   inline
    :margin-right              4px
    :padding                   2px 4px 2px 4px
  .element
    :font-family               Georgia, "Times New Roman", Times, serif
    :font-size                 1.1em
    :display                   inline
    :float                     left
    :margin-top                2px
    a
      :color =                 !grey
      :padding                 2px 4px 2px 4px
      &:hover
        :background =          !grey
        :color                 white

.tags
  :background                  none

// Comments

.comments_number
  :font-size                   1.5em
  :font-weight                 bold
  :margin-top =                !margin * 4
  :margin-bottom =             !margin
  :padding-bottom =            !margin / 2
  :border-bottom =             1px solid #888

#comments_part
  :width =                     470px
  
  #comments
    .comment
      :margin-top =            !margin 
      :margin-bottom =         !margin
      :padding-bottom =        !margin
      :background              url('/slices/blog-slice/images/grey_horizontal_line.gif') left bottom repeat-x
      .author
        :font-family           Georgia, "Times New Roman", Times, serif
        :font-size =           1.3em
        :font-weight =         bold
        .date
          :font-family         Helvetica, Arial, "Lucida Sans Unicode", sans-serif
          :color =             !grey
          :font-size =         0.8em
          :font-weight =       normal
      .content
        :font-family           Georgia, "Times New Roman", Times, serif
        :font-size             1.2em
        :margin-left =         !margin
        p
          :margin-left         0

#new_comment_form
  h3
    :font-size                   1.5em
    :font-weight                 bold
    :margin-bottom =             !margin
  .form
    :font-size                   1em
    .row
      :width                     456px
      label
        :background              none
        :margin-bottom           0
        :margin-top              5px
        :padding-left            0
      input[type=text], textarea
        :font-size              1.2em
        :width                  100%
        :border =               1px solid !light_grey
        :padding =              3px 4px 3px 3px
      textarea
        :height                 50px
    .submit
      :margin-top =             !margin 
      :font-size =              1.2em      
    .has_errors
      input[type=text], textarea
        :border =               1px solid !red

// Footer
#footer
  :font-size                  0.9em
  :margin-top =               !margin * 3
  :margin-bottom =            !margin
  :padding-top =              !margin
  :color =                    !grey
  :border-top =               3px solid !light_grey
  
// Dashboard
  
#dashboard_link
  :position                   absolute
  :top =                     !margin
  :left                       0

#dashboard  
  :width                      100%
  :overflow                   auto
  .left, .right
    :width                      400px
    :overflow                   auto
    .block
      :position                 relative
      :display                  inline
      :float                    left
      :width =                  400px - 14px
      :min-height               50px
      :margin-bottom =          !margin
      :border =                 1px solid !light_grey
      .title
        :background-color =     !really_light_grey
        :font-size =            1.3em
        :font-family            Helvetica, Arial, "Lucida Sans Unicode", sans-serif
        :font-weight            bold
        :padding                5px
        :border-bottom =        1px solid !lighter_grey
        .link
          :display              inline
          :float                right
          :margin-right =       !margin
          :font-size            14px
          :font-weight          normal
          :font-family          Georgia, "Times New Roman", Times, serif
      .body
        :font-family            Georgia, "Times New Roman", Times, serif
        :padding                5px
        :font-size =            1.2em
  .left
    :display                  inline
    :float                    left
  .right
    :display                  inline
    :float                    right
    .block
      :margin-left =          !margin / 2
.row
  :overflow                   auto
  :width                      100%
  div
    :display                  inline
    :float                    left
  .post_title, .comment
    :font-size                1em
    :width                    200px
  .date, .author
    :font-size                0.8em
    :width                    75px
  .comments_count
    :font-size                0.8em
    :width                    75px

.details
  :margin-top =               !margin
  :font-size                  0.8em
  :color =                    !grey  

// Tag cloud

#tags
  .size_1
    :font-size                1em
  .size_2
    :font-size                1.1em
  .size_3
    :font-size                1.2em
  .size_4
    :font-size                1.3em
  .size_5
    :font-size                1.4em
  .size_6
    :font-size                1.5em
  .size_7
    :font-size                1.6em
  .size_8
    :font-size                1.7em
  

// Pagination

.pagination
  .previous_page, .next_page
    :font-weight              bold
  .disabled
    :color =                  !grey
    
  em
    :color                    black
    :padding                  3px 4px
  a
    :padding                  3px 4px
    :border =                 1px solid !light_grey
    
