body {
  font-family: Helvetica, Arial, "Lucida Sans Unicode", sans-serif;
  font-size: 11px;
  text-align: center; }

#container {
  text-align: left;
  width: 800px;
  margin-left: auto;
  margin-right: auto; }

strong {
  font-weight: bold; }

p {
  margin: 15px; }

a {
  color: #2583ad;
  text-decoration: none; }
  a:hover {
    color: #dd8718; }

h1, h2 {
  color: #000000;
  font-weight: bold; }

h1#title {
  text-align: center;
  font-size: 3.6em;
  letter-spacing: -0.03em;
  padding-bottom: 15px;
  padding-top: 15px; }

h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 2px; }
  h1 a {
    color: black; }
    h1 a:hover {
      color: #dd8718; }

#application_title {
  background: #e4f2fd;
  padding-top: 15px;
  padding-bottom: 15px; }
  #application_title h1 {
    font-size: 36px;
    margin-top: 0;
    border: none; }

#menu {
  background: #e4f2fd; }
  #menu ul {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    list-style-type: none;
    list-style-image: none;
    border-bottom: 1px solid #C6D9E9; }
    #menu ul li {
      display: inline;
      margin-right: 30px; }
      #menu ul li a {
        font-size: 16px; }

table {
  border: 1px solid #cccccc;
  margin: 15px; }
  table th, table td {
    font-size: 11px;
    border-bottom: 1px solid #cccccc; }
  table th {
    background: #333333;
    color: #d7d7d7;
    padding: 0.4em;
    padding-left: 1.2em; }
  table td {
    padding: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em; }
  table tr.odd {
    background: #f9f9f9; }

table.ui-datepicker {
  margin: 0; }
  table.ui-datepicker tr th, table.ui-datepicker tr td {
    padding: 0;
    border-bottom: none; }

.new, .edit, .delete, .view_children {
  line-height: 17px;
  background-color: black;
  border: 1px solid #555555;
  color: white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 12px;
  padding: 3px 5px 3px 5px; }

form .row {
  width: 600px; }
  form .row label {
    display: block;
    background: #eaf3fa;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    margin-top: 15px; }
  form .row input[type=text], form .row textarea {
    font-size: 1.5em;
    width: 100%;
    border: 1px solid #cccccc;
    padding: 6px; }
  form .row textarea {
    height: 150px; }
  form .row select {
    font-size: 1.5em; }
form .explanation {
  margin-top: 7px;
  margin-bottom: 7px;
  color: #555555; }
form .submit {
  margin-top: 30px;
  font-size: 1.5em; }
form .errors {
  margin-top: 7px;
  margin-bottom: 7px;
  color: #ad254b;
  font-weight: bold; }
form .has_errors input[type=text], form .has_errors textarea {
  border: 1px solid #ad254b; }

#message {
  margin: 15px;
  width: 615px; }
  #message div {
    padding: 7px;
    font-weight: bold; }
  #message #notice {
    color: #25ad6f;
    border: 1px solid #d7d7d7;
    background: #e4fdf2; }
  #message #error {
    color: #ad254b;
    border: 1px solid #d7d7d7;
    background: #fde4eb; }

form div input#post_published_at_date {
  width: 200px;
  margin-right: 30px; }

#header {
  width: 800px;
  height: 147px;
  background: url('/slices/blog-slice/images/header.jpg') center center;
  margin-bottom: 15px;
  border-top: 3px solid black;
  cursor: pointer; }

.extra_info {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555555;
  padding-bottom: 7px;
  margin-bottom: 15px;
  background: url('/slices/blog-slice/images/black_horizontal_line.gif') left bottom no-repeat; }
  .extra_info a {
    color: #555555; }
  .extra_info div {
    display: inline; }

.post {
  margin-bottom: 45px;
  clear: left; }

#content p {
  margin-left: 0; }

#content .post .content {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em; }
  #content .post .content p {
    margin-left: 0; }

.tags {
  margin-top: 15px;
  padding-top: 7px;
  background: url('/slices/blog-slice/images/grey_horizontal_line.gif') left top no-repeat; }
  .tags h5 {
    font-weight: bold;
    color: #555555;
    float: left;
    display: inline;
    margin-right: 4px; }
  .tags .tag {
    display: inline;
    float: left; }
    .tags .tag a {
      color: #555555;
      padding: 2px 4px 2px 4px; }
      .tags .tag a:hover {
        background: #555555;
        color: white; }

.comments_number {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 15px;
  border-bottom: 1px solid #888888; }

#comments_part {
  width: 470px; }
  #comments_part #comments .comment {
    margin-top: 30px;
    margin-bottom: 30px; }

#footer {
  font-size: 0.9em;
  margin-top: 45px;
  margin-bottom: 15px;
  padding-top: 15px;
  color: #555555;
  border-top: 3px solid #cccccc; }
