- throw_content :title do
  Tags

#tags
  - @tags.each do |tag|
    - unless (tag.posts.count == 0)
      %span{:class => "size_#{tag.size}"}
        = link tag.name, :to => resource(tag), :title => pluralize('Post', tag.posts.count)