%h1=h @post.title
#content= @post.rendered_content
#tags
  Tags:
  = @post.taglist

- if authorized?
  %p
    = link 'edit', :to => url(:edit_blog_slice_post, :id => @post.slug)
    = link 'delete', :to => url(:blog_slice_post, :id => @post.slug), :method => 'delete', :confirm => "Are you sure?"